* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.night-mode #profilePageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #profilePage {
  background-color: #2e3236f2;
}

.night-mode .uploaded-image-container {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode .no-lines {
  background-color: rgba(var(--bs-dark-rgb)) !important;
}

.night-mode #mainContainer {
  background-color: #212529f2;
}

.night-mode .comment-box {
  background-color: rgba(var(--bs-dark-rgb));
  color: white;
}

.night-mode .like-button {
  background-color: #2e3236f2;
  color: #aaaaaa;
}

.night-mode .switchHeader i {
  color: linear-gradient(90deg, #ee6306, #887c65);
}

.night-mode .column.middle {
  background-color: #2e3236f2;
}

.night-mode #accountForm {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #registerForm {
  color: white;
}

.night-mode #accountForm h3 {
  color: white;
}

.night-mode #helpPage {
  background-color: #2e3236f2;
}

.night-mode #helpPageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #friendsListModal {
  background-color: rgba(var(--bs-dark-rgb));
}

/* Night mode styles for switchHeader */
.night-mode .switchHeader {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #switchHeaderBtnGroup {
  background-color: rgba(var(--bs-dark-rgb));
}

/* Ensure button text is white in night mode */
.night-mode .switchHeader button {
  color: #b3afaf;
}

/* Ensure icons and text inside buttons are white */
.night-mode .switchHeader i {
  color: #b3afaf;
}

.night-mode #side1 {
  background-image: url('./images/nightpicture.jpg');
}

.night-mode #side2 {
  background-image: url('./images/nightpicture.jpg');
}

.night-mode .shareBtn {
  background-color: #2e3236f2;
}

.night-mode #profilePicText {
  color: #aaaaaa;
}

.night-mode #changePasswordText {
  color: #aaaaaa;
}

.night-mode #passwordChangeField1 {
  background-color: #2e3236f2;
  width: 160px;
}

.night-mode #passwordChangeField2 {
  background-color: #2e3236f2;
  width: 160px;
}

.night-mode .form-control {
  background-color: #2e3236f2;
}

.night-mode .comment {
  border: 1px solid #555555;
}

.night-mode #settingsContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #aboutPage {
  background-color: #2e3236f2;
}

.night-mode #aboutPageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}
.night-mode .aboutPageHeader .white-text {
  color: #ffffff;
}
.night-mode .userComment {
  color: #b3afaf;
}
.night-mode .username {
  color: #b3afaf;
}
.night-mode #searchResults {
  color: #b3afaf;
}
.night-mode #searchResults p {
  color: #b3afaf;
}
.night-mode #friendsListIcon {
  color: #aaaaaa;
}
.night-mode #searchResults button {
  color: #aaaaaa;
}
.night-mode #userAlertsContainer {
  background-color: rgba(var(--bs-dark-rgb));
}
.night-mode #userAlertsContainerText {
  color: #aaaaaa;
}
/* Style the header */
.header {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  width: 100%;
  z-index: 14;
  /* to keep border visible */
}

/* Container for flexboxes */
.row {
  display: flex;
  flex: 1;
  height: 100%;
}

/* Left and right column */
.column.side {
  flex: 1;
  padding: 0;
  width: 20%;
  height: 85vh;
}

#side1 {
  background-image: url('./images/testpicture6.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20vh;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#side2 {
  background-image: url('./images/testpicture4.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20vh;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Middle column */
.column.middle {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60vh;
}

/* Full height for carousel */
.carousel-inner,
.carousel-item {
  flex: 1;
  /* Allow carousel to fill available space */
  height: 83vh;
  /* Ensure carousel item takes full height */
}

.carousel-inner img {
  width: 100%;
  /* Ensure images cover full width */
  height: 100%;
  /* Ensure images cover full height */
  object-fit: cover;
  /* Scale image to cover the area */
}

#loginModal {

  align-items: center;
  /* Center align items horizontally */
  text-align: center;
  /* Center align text */
  margin: auto;
  /* Center the form in the middle of the container */
  padding: 17px;
}

/* Media query to further adjust for smaller screens */
@media (max-width: 768px) {

  /* Adjust this value as needed */
  .carousel-inner,
  .carousel-item {
    height: 80vh;
    /* Reduce height for smaller screens */
  }

  .like-button {
    width: 40% !important;
    font-size: 10px;
    padding: 5px 10px;
  }

  .uploaded-image-container {
    width: 90% !important;
    /* Make container fill screen on smaller devices */
  }

  .no-lines {
    text-align: center !important;
  }
}

.modal-dialog {
  max-width: 470px;
  margin: auto;
  /* Center horizontally */
}

.modal-content {
  border-radius: 0.5rem;
  /* Optional: Adjusts the border radius */
}

/* Footer styling */
.footer {
  background-color: rgba(var(--bs-dark-rgb));

  padding: 10px;
  text-align: center;
  width: 100%;

  border-top: 2px solid #555555;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
}

#footerText {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background: linear-gradient(90deg, #ffffff, #f0eeee);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  /* Vendor prefix for older WebKit browsers */
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  #homeLink {
    margin-left: 0 !important;
    /* Remove left margin */
  }

  #logo {
    margin-left: 0 !important;
  }

  #searchForm {
    margin-left: 0 !important;
  }
}

@media (max-width: 1800px) {
  .column.side {
    display: none !important;
    /* Hide side columns */
  }

  .column.middle {
    flex: 1;
    /* Make middle column take full width */
    height: 100%;
  }
}

#accountForm {
  background-color: #fafafa;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align items horizontally */
  text-align: center;
  /* Center align text */
  margin: auto;
  /* Center the form in the middle of the container */
  width: 90%;
  /* Make it responsive */
  max-width: 500px;
  /* Set a maximum width for larger screens */
}

#accountForm .form-control {
  width: 100%;
  /* Allow input fields to take full width of their container */
  max-width: 500px;
  /* Set maximum width for input fields */
  margin-bottom: 15px;
  /* Space between fields */
}

#accountForm .form-label {
  margin-bottom: 5px;
  /* Space between the label and input */
  text-align: center;
  ;
  /* Align label text to the left */
  width: 100%;
  /* Ensure label takes full width */
}

#aboutPage {
  display: flex;
  position: relative;
  height: 85vh;
  background-color: #fafafa;
}

#aboutPageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#mainPage {
  height: 100%;
}

#mainContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* Stack posts vertically */
  height: 85vh;
  background-color: #fafafa;
  align-items: center;

  padding-bottom: 0;

}

#mainContainer::-webkit-scrollbar {
  width: 8px;
}

#mainContainer::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

#mainContainer::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

#postContainer {
  background-color: rgba(var(--bs-dark-rgb));
  border: 2px solid #555555;
  display: flex;
  /* Use flexbox layout */
  align-items: center;
  justify-content: start;
  display: none;
  height: 18vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

#imageShareText {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;

  text-align: center;
}

#textContainer {
  background-color: rgba(var(--bs-dark-rgb));
  border: 2px solid #555555;
  display: flex;
  /* Use flexbox layout */
  align-items: center;
  display: none;
  height: 18vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  position: relative;
}

#textShareText {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;

  display: flex;
  margin-left: 150px;
  margin-bottom: 30px;
}

.navbar {
  width: 100%;
}

.shareBtn {
  position: relative;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: rgba(var(--bs-dark-rgb));
  transition: color 0.4s ease;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  overflow: hidden;
  /* Ensure the pseudo-element stays within the button */
  isolation: isolate;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  /* Slightly bolder text */
}

/* Create the green transition bar */
.shareBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(133, 163, 133);
  transition: left 0.4s ease;
  z-index: -1;
  /* Keeps the bar behind the button text */
}

/* Change text color and animate the bar when hovered */
.shareBtn:hover {
  color: rgb(211, 211, 211);
  /* Change text color on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}

.shareBtn:hover::before {
  left: 0;
  /* Move the green bar from left to right */
}

.btn {
  cursor: pointer;
}

.uploaded-image-container {
  width: 86%;
  background-color: #fafafa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  /* Position relative to apply pseudo-elements */
}

/* Pseudo-elements for containers with lines */
.with-lines::before,
.with-lines::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(99% - 40px);
  background-color: #555555;
}

.with-lines::before {
  top: 0;
  /* was 10px */
}

.with-lines::after {
  bottom: 0;
  /* was 10px */
}

/* No lines for containers without lines */
.no-lines::before,
.no-lines::after {
  content: none;
}

.with-lines {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Like button / Comment button div */
.no-lines {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  justify-content: start;
  display: block;
  text-align: left;
}

.uploaded-image {
  border-radius: 10px;
  border: 2px solid #555555;
  margin: 5px;
  width: 100%;
  height: auto;
  /* Allow height to adjust automatically */
  max-height: 100%;
  /* Prevents the image from exceeding container height */
  cursor: pointer;
  object-fit: contain;
  /* Ensures the image fits within container while maintaining aspect ratio */
}



.uploaded-image.enlarged {
  transform: scale(1.5);
  /* Adjust scale to desired size */
  z-index: 99;
  /* Bring image to the front */
}

/* Remove the default dropdown arrow */
.dropdown-toggle::after {
  display: none !important;
}

.switchHeader {


  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: white;
  transition: opacity 1s ease-in-out, visibility 0s 1s, display 0s 1s;
  /* Slower fade, delayed hiding */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #555555;
  border-top: none;

}

.switchHeader.hidden {
  visibility: hidden;
  /* Hide element */
  opacity: 0;
  /* Hide element */
  display: none;
  /* Remove from layout */
}

.switchHeader:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

/* Like button */
.like-button {
  background-color: rgba(var(--bs-dark-rgb));
  color: white;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  /* Slightly bolder text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 20%;
  /* Make button width responsive */
  margin-left: 12px;
}

.like-button:hover {
  background-color: #6d7580;
  /* Darker blue on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}

.like-button:focus {
  outline: none;
  /* Remove the outline on focus */
}

.like-button:active {
  background-color: #747c86;
  /* Even darker blue when button is clicked */
  transform: translateY(4px);
}

#searchBtn:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

#searchBtn:active {
  transform: translateY(4px);
}

.nav-item:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

.navbar-brand:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

#navbarSupportedContent {
  z-index: 15;
}

.btn:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

.comment-box {
  /* CHECK THIS LATER */
  width: 100%;
  height: 150px;
  padding: 8px 8px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: #fcf7f7;
  margin-top: 10px;
  /* Optional space above the new div */
  position: relative;
  overflow-y: auto;
  max-height: 250px;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  /* Makes the input field stick at the bottom */
  justify-content: flex-start;
}

.comment-box::-webkit-scrollbar {
  width: 8px;
}

.comment-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.comment-box::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Style for the input field inside the comment box */
.comment-box input[type="text"] {
  width: 60%;
  /* Full width */
  padding: 8px;
  /* Padding inside the input box */
  font-size: 14px;
  /* Font size */
  border: 1px solid #555555;
  /* Border around input */
  border-radius: 5px;
  /* Rounded corners */
  box-sizing: border-box;
  /* Ensure padding doesn't overflow */
  position: sticky;
  /* Keep the input at the bottom */
  background-color: #2e3236f2;
  /* Make sure the input has a background */
  margin-top: 5px;
  margin-left: 10px;
  color: white;
}

/* Optional: Style for input focus */
.comment-box input[type="text"]:focus {
  outline: none;
  border-color: #555555;
  /* Border color when focused */
}

.postComment {
  color: white;
  /* White text */
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  /* Slightly bolder text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 20%;
  /* Make button width responsive */
  margin-left: 12px;
}

.upperContainer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  margin-bottom: 0;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: white;
}

.upperContainer span {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

.comment {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #b9b6b6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.username {
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;

}

.userComment {

  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

}

#friendsListIcon {
  border: 2px solid #555555;
  font-size: 25px;
  color: white;
  padding: 20px;
  background-color: rgba(var(--bs-dark-rgb));
  border-radius: 50%;
  position: absolute;
  bottom: 60px;
  left: 42%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#friendsListIcon:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
  cursor: pointer;
}

#friendsListIcon:active {
  transform: translateY(4px);
}

#friendsListModal {
  height: 66%;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 12%;
  border: 2px solid #555555;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Add shadow for depth */
  z-index: 1;
}

.active-friends-header {
  
  font-size: 16px;
  background: linear-gradient(90deg, #ffffff, #e76006);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  /* Vendor prefix for older WebKit browsers */
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  
  
  font-weight: 600;
}

#friendsListModalContainer {
  width: 97%;
  height: 91%;
  border-radius: 5px;
  border: 2px solid #555555;
  display: flex;
  align-items: center;
  /* Center content vertically inside container */
  justify-content: center;
  /* Center content horizontally inside container */
  margin: auto;
  /* Optional - center within parent if needed */
}

#submittedBySpan {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background: linear-gradient(90deg, #ee6306, #887c65);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  /* Vendor prefix for older WebKit browsers */
  -webkit-text-fill-color: transparent;
}

#profilePage {
  height: 85vh;
  width: 100%;
  position: relative;
  display: flex;
  background-color: white;
}

#profilePageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;

}

#profilePageHeader {
  width: 100%;

  position: relative;
  display: flex;
}

#profilePictureContainer {
  position: relative;
  top: 20px;
  left: 20px;
  border: 2px solid #555555;
  height: 34%;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* CSS for the welcome text */
#welcomeProfileMessage {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #4a4a4a;
  display: flex;
  margin-left: 75px;
  margin-top: 15px;
}

#welcomeProfileUser {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #e58e26;
  /* A vibrant color for emphasis */
  margin-top: 40px;
  font-size: 35px;
}

#profileSettings {
  position: absolute;
  top: 39%;
  border: 2px solid #555555;
  border-radius: 5px;
  height: 59%;
  width: 61%;
  left: 37%;
  display: flex;
}

#profileSettings2 {
  position: absolute;
  left: 2.5%;
  top: 39%;
  border: 2px solid #555555;
  border-radius: 5px;
  height: 59%;
  width: 32%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#changeProfilePicture {
  position: relative;
  padding: 20px;
  display: flex;

}

#profilePicText {
  font-weight: 400;
  text-decoration: none;
}

#profilePicButton {
  position: absolute;
  display: flex;
  top: 70px;
  /* the div */
  width: 100%;
  margin-right: 50px;
  justify-content: center;
  left: -10px;
}

#profilePicBtn {
  /* the button */
  width: 50%;
}

#changePassword {
  position: absolute;
  display: flex;
  top: 140px;
}

#changePasswordText {
  font-weight: 400;
  text-decoration: none;
  
}

#changePasswordField1 {
  position: absolute;
  display: flex;
  top: 190px;
  border-radius: 5px;
}

#changePasswordField2 {
  position: absolute;
  display: flex;
  top: 230px;
  border-radius: 5px;
}

#changePasswordButton {
  position: absolute;
  display: flex;
  top: 290px;
  width: 100%;
  margin-right: 50px;
  justify-content: center;
  left: -10px;
}

#changePasswordBtn {
  width: 50%;
}

#span1 {
  color: orange !important;
  /* Add !important to override the parent styles */

}

#span2 {
  color: orange !important;
  /* Add !important to override the parent styles */

}

#helpPage {
  background-color: white;
  height: 85vh;
}

#helpPageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#settingsContainer {
  height: 75%;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 20px;
  border: 2px solid #555555;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Add shadow for depth */
  display: none;
  /* initially hidden */
}

.aboutPageHeader{
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.orange-text {
  color: #ee6306;
}

.white-text {
  color: black;;
}
#searchResults {
  color: white;
  border: 1px solid #555555;
  width: 245px; 
  height: auto;
  max-height: 175px; 
  top: -40px; 
  left: 18.7%; 
  position: absolute; 
  z-index:99; 
  border-radius: 5px; 
  display: none; 
  text-align: center;
  padding: 10px;
  background-color: #2e3236f2;
  overflow-y: auto;
}
#searchResults::-webkit-scrollbar {
  width: 4px;
}

#searchResults::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

#searchResults::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}
#searchResults p {
  font-size: 1rem;
  margin: 0;
  color: white;
}

#searchResults button {
  background-color: rgba(var(--bs-dark-rgb));
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

#searchResults button:hover {
  background-color: #6d7580;
  transform: scale(1.05);
}
#searchResults button:active {
  transform: translateY(4px);
}
#friendBtn {
  margin-right: 10px !important;
}
#userAlertsIcon:hover {
  transform: scale(1.1);
}
#userAlertsIcon:active {
  transform: translateY(4px);
}
#userAlertsContainer {
  position: absolute;
  top: 10px;
  z-index: 2;
  border: 2px solid #555555;
  width: 70%;
  height: 100px;
  
  border-radius: 5px;
  background-color: #fafafa;
  display: none;
  padding-top: 5px;
}
#userAlertsContainerHeader {
  text-align: center;
}
#userAlertsContainerText {
  font-family: 'Arial', sans-serif;
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 600;
}
#userAlertsContent {
  
  border-top: 2px solid #555555;
  border-width: 90%;
  width: 98.5%;
  
  height: 65%; 
  margin-left: 2.5px; 
  margin-top: 5px;
  overflow: auto;
}
#userAlertsContent::-webkit-scrollbar {
  width: 5px;
}

#userAlertsContent::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

#userAlertsContent::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}
