* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.night-mode #profilePageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #profilePage {
  background-color: #2e3236f2;
}

.night-mode .uploaded-image-container {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode .no-lines {
  background-color: rgba(var(--bs-dark-rgb)) !important;
}

.night-mode #mainContainer {
  background-color: #212529f2;
}

.night-mode .comment-box {
  background-color: rgba(var(--bs-dark-rgb));
  color: #ededed;
}

.night-mode .like-button {
  background-color: #2e3236f2;
  color: #aaaaaa;
}

.night-mode .column.middle {
  background-color: #2e3236f2;
}

.night-mode #accountForm {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #registerForm {
  color: #ededed;
}

.night-mode #accountForm h3 {
  color: #ededed;
}

.night-mode #helpPage {
  background-color: #2e3236f2;
}

.night-mode #helpPageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #friendsListModal {
  background-color: rgba(var(--bs-dark-rgb));

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Night mode styles for switchHeader */
.night-mode .switchHeader {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #switchHeaderBtnGroup {
  background-color: rgba(var(--bs-dark-rgb));
}

/* Ensure button text is white in night mode */
.night-mode .switchHeader button {
  color: #ededed;
}

.night-mode #side1 {
  background-image: url("./images/nightpicture.jpg");
}

.night-mode #side2 {
  background-image: url("./images/nightpicture.jpg");
}

.night-mode .shareBtn {
  background-color: #2e3236f2;
}

.night-mode #changePasswordText {
  color: #aaaaaa;
}

.night-mode #passwordChangeField1 {
  background-color: #2e3236f2;
  width: 160px;
}

.night-mode #passwordChangeField2 {
  background-color: #2e3236f2;
  width: 160px;
}

.night-mode .form-control {
  background-color: #2e3236f2;
}

.night-mode .comment {
  border: 1px solid #555555;
}

.night-mode #settingsContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #aboutPage {
  background-color: #2e3236f2;
}

.night-mode #aboutPageContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode .aboutPageHeader .white-text {
  color: #ededed;
}

.night-mode .userComment {
  color: #b3afaf;
}

.night-mode .username {
  color: #b3afaf;
}

.night-mode #searchResults {
  color: #b3afaf;
}

.night-mode #searchResults p {
  color: #b3afaf;
}

.night-mode #friendsListIcon {
  color: #aaaaaa;
}

.night-mode #searchResults button {
  color: #aaaaaa;
}

.night-mode #userAlertsContainer {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #userAlertsContainerText {
  color: #ededed;
}

.night-mode #requestDiv {
  color: #aaaaaa;
}

.night-mode .form-control {
  color: #b3afaf;
}

/* Style the header */
.header {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 100%;
  z-index: 14;
  /* to keep border visible */
}

/* Container for flexboxes */
.row {
  display: flex;
  flex: 1;
  height: 100%;
}

/* Left and right column */
.column.side {
  flex: 1;
  padding: 0;
  width: 20%;
  height: 85vh;
}

#side1 {
  background-image: url("./images/testpicture6.jpg");
  /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#side2 {
  background-image: url("./images/testpicture4.jpg");
  /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Middle column */
.column.middle {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60vh;
  background-color: #fafafa;
}

/* Full height for carousel */
.carousel-inner,
.carousel-item {
  flex: 1;
  /* Allow carousel to fill available space */
  height: 83vh;
  /* Ensure carousel item takes full height */
}

.carousel-inner img {
  width: 100%;
  /* Ensure images cover full width */
  height: 100%;
  /* Ensure images cover full height */
  object-fit: cover;
  /* Scale image to cover the area */
}

#loginModal {
  align-items: center;
  /* Center align items horizontally */
  text-align: center;
  /* Center align text */
  margin: auto;
  /* Center the form in the middle of the container */
  padding: 17px;
}

/* Media query to further adjust for smaller screens */
@media (max-width: 768px) {
  /* Adjust this value as needed */
  .carousel-inner,
  .carousel-item {
    height: 80vh;
    /* Reduce height for smaller screens */
  }

  .like-button {
    width: 40% !important;
    font-size: 10px;
    padding: 5px 10px;
  }

  .uploaded-image-container {
    width: 90% !important;
    /* Make container fill screen on smaller devices */
  }

  .no-lines {
    text-align: center !important;
  }
}

.modal-dialog {
  max-width: 470px;
  margin: auto;
  /* Center horizontally */
}

.modal-content {
  border-radius: 0.5rem;
  /* Optional: Adjusts the border radius */
}

/* Footer styling */
.footer {
  background-color: rgba(var(--bs-dark-rgb));

  padding: 10px;
  text-align: center;
  width: 100%;

  border-top: 2px solid #555555;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
}

#footerText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: linear-gradient(90deg, #ffffff, #f0eeee);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  /* Vendor prefix for older WebKit browsers */
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  #homeLink {
    margin-left: 0 !important;
    /* Remove left margin */
  }

  #logo {
    margin-left: 0 !important;
  }

  #searchForm {
    margin-left: 0 !important;
  }
}

@media (max-width: 1000px) {
  .column.side {
    display: none !important;
    /* Hide side columns */
  }

  .column.middle {
    flex: 1;
    /* Make middle column take full width */
    height: 100%;
  }
}

#accountForm {
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align items horizontally */
  text-align: center;
  /* Center align text */
  margin: auto;
  /* Center the form in the middle of the container */
  width: 90%;
  /* Make it responsive */
  max-width: 500px;
  /* Set a maximum width for larger screens */
}

#accountForm .form-control {
  width: 100%;
  /* Allow input fields to take full width of their container */
  max-width: 500px;
  /* Set maximum width for input fields */
  margin-bottom: 15px;
  /* Space between fields */
}

#accountForm .form-label {
  margin-bottom: 5px;
  /* Space between the label and input */
  text-align: center;
  /* Align label text to the left */
  width: 100%;
  /* Ensure label takes full width */
}

#aboutPage {
  display: flex;
  position: relative;
  height: 85vh;
  background-color: #fafafa;
}

#aboutPageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#mainPage {
  height: 100%;
}

#mainContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* Stack posts vertically */
  height: 85vh;
  background-color: #fafafa;
  align-items: center;

  padding-bottom: 0;
}

#mainContainer::-webkit-scrollbar {
  width: 8px;
}

#mainContainer::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

#mainContainer::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

#postContainer {
  background-color: rgba(var(--bs-dark-rgb));
  border: 2px solid #555555;
  display: flex;
  /* Use flexbox layout */
  align-items: center;
  justify-content: start;
  display: none;
  height: 18vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

#imageShareText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ededed;

  text-align: center;
}

#textContainer {
  background-color: rgba(var(--bs-dark-rgb));
  border: 2px solid #555555;
  display: flex;
  /* Use flexbox layout */
  align-items: center;
  display: none;
  height: 18vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  position: relative;
}

#textShareText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ededed;
  text-align: center;

  display: flex;
  margin-left: 150px;
  margin-bottom: 30px;
}

.navbar {
  width: 100%;
}

.shareBtn {
  position: relative;
  padding: 10px 20px;
  border: none;
  color: #ededed;
  background-color: rgba(var(--bs-dark-rgb));
  transition: color 0.4s ease;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  overflow: hidden;
  /* Ensure the pseudo-element stays within the button */
  isolation: isolate;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  /* Slightly bolder text */
}

/* Create the green transition bar */
.shareBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(133, 163, 133);
  transition: left 0.4s ease;
  z-index: -1;
  /* Keeps the bar behind the button text */
}

/* Change text color and animate the bar when hovered */
.shareBtn:hover {
  color: rgb(211, 211, 211);
  /* Change text color on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}

.shareBtn:hover::before {
  left: 0;
  /* Move the green bar from left to right */
}

.btn {
  cursor: pointer;
}

.uploaded-image-container {
  width: 86%;
  background-color: #fafafa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  /* Position relative to apply pseudo-elements */
}

/* Pseudo-elements for containers with lines */
.with-lines::before,
.with-lines::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(99% - 40px);
  background-color: #555555;
}

.with-lines::before {
  top: 0;
  /* was 10px */
}

.with-lines::after {
  bottom: 0;
  /* was 10px */
}

/* No lines for containers without lines */
.no-lines::before,
.no-lines::after {
  content: none;
}

.with-lines {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Like button / Comment button div */
.no-lines {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  justify-content: start;
  display: block;
  text-align: left;
}

.uploaded-image {
  border-radius: 10px;
  border: 2px solid #555555;
  margin: 5px;
  width: 100%;
  height: auto;
  /* Allow height to adjust automatically */
  max-height: 60vh;
  /* Prevents the image from exceeding container height */
  cursor: pointer;
  object-fit: cover;
  /* Ensures the image fits within container while maintaining aspect ratio */
}

.uploaded-image.enlarged {
  transform: scale(1.5);
  /* Adjust scale to desired size */
  z-index: 99;
  /* Bring image to the front */
}

/* Remove the default dropdown arrow */
.dropdown-toggle::after {
  display: none !important;
}

.switchHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #ededed;
  transition: opacity 1s ease-in-out, visibility 0s 1s, display 0s 1s;
  /* Slower fade, delayed hiding */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #555555;
  border-top: none;
}

.switchHeader.hidden {
  visibility: hidden;
  /* Hide element */
  opacity: 0;
  /* Hide element */
  display: none;
  /* Remove from layout */
}

.switchHeader:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

/* Like button */
.like-button {
  background-color: rgba(var(--bs-dark-rgb));
  color: #ededed;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  /* Slightly bolder text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 20%;
  /* Make button width responsive */
  margin-left: 12px;
}

.like-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* Darker blue on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}

.like-button:focus {
  outline: none;
  /* Remove the outline on focus */
}

.like-button:active {
  background-color: #747c86;
  /* Even darker blue when button is clicked */
  transform: translateY(4px);
}

#searchBtn:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

#searchBtn:active {
  transform: translateY(4px);
}

.nav-item:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

.navbar-brand:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

#navbarSupportedContent {
  z-index: 15;
}

.btn:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
}

.comment-box {
  /* CHECK THIS LATER */
  width: 100%;
  height: 200px;
  padding: 5px 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: #fcf7f7;
  margin-top: 10px;
  /* Optional space above the new div */
  position: relative;
  overflow-y: auto;
  max-height: 250px;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  /* Makes the input field stick at the bottom */
  justify-content: flex-start;
}

.comment-box::-webkit-scrollbar {
  width: 8px;
}

.comment-box::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.comment-box::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Style for the input field inside the comment box */
.comment-box input[type="text"] {
  width: 60%;
  /* Full width */
  padding: 8px;
  /* Padding inside the input box */
  font-size: 14px;
  /* Font size */
  border: 1px solid #555555;
  /* Border around input */
  border-radius: 5px;
  /* Rounded corners */
  box-sizing: border-box;
  /* Ensure padding doesn't overflow */
  position: sticky;
  /* Keep the input at the bottom */
  background-color: #2e3236f2;
  /* Make sure the input has a background */
  margin-top: 5px;
  margin-left: 5px;
  color: #ededed;
}

/* Optional: Style for input focus */
.comment-box input[type="text"]:focus {
  outline: none;
  border-color: #555555;
  /* Border color when focused */
}

.postComment {
  color: #ededed;
  /* White text */
  border: none;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 500;
  /* Slightly bolder text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 20%;
  /* Make button width responsive */
  margin-left: 10px;
}

.upperContainer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  margin-bottom: 0;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #ededed;
}

.upperContainer span {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

.comment {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #b9b6b6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.username {
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}

.userComment {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

#friendsListIcon {
  border: 2px solid #555555;
  font-size: 25px;
  color: #ededed;
  padding: 20px;
  background-color: rgba(var(--bs-dark-rgb));
  border-radius: 50%;
  position: absolute;
  bottom: 55px;
  left: 42%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#friendsListIcon:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
  cursor: pointer;
}

#friendsListIcon:active {
  transform: translateY(4px);
}

#friendsListModal {
  height: 66%;
  width: 70%;
  background-color: #ededed;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 14%;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Add shadow for depth */
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.active-friends-header {
  font-size: 16px;
  color: #ededed;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Arial", sans-serif;

  font-weight: 600;
}

#friendsListModalContainer {
  width: 97%;
  height: 91%;
  border-bottom: 2px solid #555555;
  border-top: 2px solid #555555;
  border-left: 2px solid #555555;
  display: flex;
  flex-direction: column;
  /* Center content vertically inside container */
  margin-top: 20px;
  /* Center content horizontally inside container */
  margin: auto;
  /* Optional - center within parent if needed */
  overflow: auto;
}

#friendsListModalContainer::-webkit-scrollbar {
  width: 4px;
}

#friendsListModalContainer::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}

#friendsListModalContainer::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

#submittedBySpan {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background: linear-gradient(90deg, #ee6306, #887c65);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  /* Vendor prefix for older WebKit browsers */
  -webkit-text-fill-color: transparent;
}

#profilePage {
  height: 85vh;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #ededed;
}

#profilePageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#profilePageHeader {
  width: 100%;

  position: relative;
  display: flex;
}

#profilePictureContainer {
  position: relative;
  top: 20px;
  left: 20px;
  border: 2px solid #555555;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

/* CSS for the welcome text */
#welcomeProfileMessage {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #ededed;
  display: flex;
  margin-left: 75px;
  margin-top: 25px;
}

#welcomeProfileUser {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: #e58e26;
  /* A vibrant color for emphasis */
  margin-top: 40px;
  font-size: 35px;
}

#profileSettings {
  position: absolute;
  top: 39%;
  border: 2px solid #555555;
  border-radius: 5px;
  height: 59%;
  width: 61%;
  left: 37%;
  display: flex;
}

#profileSettings2 {
  position: absolute;
  left: 2.5%;
  top: 39%;
  border: 2px solid #555555;
  border-radius: 5px;
  height: 59%;
  width: 32%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.settings-text {
  font-weight: 400;
  text-decoration: none;
  color: #ededed;
}

.settings-control {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin: 0;
}

.settings-button {
  width: 50%;
  margin: 0;
  transform: translateX(0);
}

/* Maintain original input styling */
#passwordChangeField1,
#passwordChangeField2 {
  border-radius: 5px;
  font-size: 14px;
  width: 50%;
  margin: 0;
}

#changeProfilePicture {
  position: relative;
  padding: 20px;
  display: flex;
}

#profilePicText {
  font-weight: 400;
  text-decoration: none;
}

#profilePicButton {
  position: absolute;
  display: flex;
  top: 55px;
  /* the div */
  width: 100%;
  margin-right: 50px;
  justify-content: center;
  left: -10px;
}

#profilePicBtn {
  /* the button */
  width: 50%;
}

#changePassword {
  position: absolute;
  display: flex;
  top: 115px;
}

#changePasswordText {
  font-weight: 400;
  text-decoration: none;
}

#changePasswordField1 {
  position: absolute;
  display: flex;
  top: 150px;
  border-radius: 5px;
}

#changePasswordField2 {
  position: absolute;
  display: flex;
  top: 185px;
  border-radius: 5px;
}

#changePasswordButton {
  position: absolute;
  display: flex;
  top: 230px;
  width: 100%;
  margin-right: 50px;
  justify-content: center;
  left: -10px;
}

#changePasswordBtn {
  width: 50%;
}

#deleteUser {
  position: absolute;
  display: flex;
  top: 300px;
}

#deleteUserText {
  font-weight: 400;
  text-decoration: none;
}

#deleteUserButton {
  position: absolute;
  display: flex;
  top: 340px;
  width: 100%;
  left: -10px;
  margin-right: 50px;
  justify-content: center;
}

#deleteUserBtn {
  width: 50%;
}

#span1 {
  color: orange !important;
  /* Add !important to override the parent styles */
}

#span2 {
  color: orange !important;
  /* Add !important to override the parent styles */
}

#helpPage {
  background-color: #ededed;
  height: 85vh;
}

#helpPageContainer {
  border-radius: 10px;
  width: 80%;
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#settingsContainer {
  height: 66%;
  width: 70%;
  background-color: #ededed;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 14%;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Add shadow for depth */
  display: none;
  /* initially hidden */
}

#settingsContainerInner {
  width: 97%;
  height: 91%;
  border-bottom: 2px solid #555555;
  border-top: 2px solid #555555;
  border-left: 2px solid #555555;
  display: flex;
  align-items: center;
  /* Center content vertically inside container */
  justify-content: center;
  /* Center content horizontally inside container */
  margin: auto;
  /* Optional - center within parent if needed */
}

.aboutPageHeader {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}

.orange-text {
  color: #e58e26;
}

.white-text {
  color: black;
}

#searchResults {
  color: #ededed;
  border: 1px solid #555555;
  width: 245px;
  height: auto;
  max-height: 175px;
  top: -40px;
  left: 18.7%;
  position: absolute;
  z-index: 99;
  border-radius: 5px;
  display: none;
  text-align: center;
  padding: 10px;
  background-color: #2e3236f2;
  overflow-y: auto;
}

#searchResults::-webkit-scrollbar {
  width: 4px;
}

#searchResults::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}

#searchResults::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

#searchResults p {
  font-size: 1rem;
  margin: 0;
  color: #ededed;
}

#searchResults button {
  background-color: rgba(var(--bs-dark-rgb));
  color: #ededed;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

#searchResults button:hover {
  background-color: #6d7580;
  transform: scale(1.05);
}

#searchResults button:active {
  transform: translateY(4px);
}

#friendBtn {
  margin-right: 10px !important;
}

#userAlertsIcon:hover {
  transform: scale(1.1);
}

#userAlertsIcon:active {
  transform: translateY(4px);
}

#userAlertsContainer {
  position: absolute;
  top: 10px;
  z-index: 2;

  width: 92%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  background-color: #fafafa;
  display: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

#userAlertsContainerHeader {
  text-align: center;
}

#userAlertsContainerText {
  font-family: "Arial", sans-serif;
  color: #ededed;
  font-size: 16px;
  font-weight: 600;
}

#userAlertsContent {
  border-top: 2px solid #555555;
  border-width: 90%;
  width: 95%;
  margin-left: 10px;
  height: 65%;
  border-bottom: 2px solid #555555;
  border-left: 2px solid #555555;
  margin-top: 5px;
  overflow: auto;
}

#userAlertsContent::-webkit-scrollbar {
  width: 5px;
}

#userAlertsContent::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

#userAlertsContent::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

.orange-alert {
  color: #e58e26 !important;
}

/* Friend list content */
.friend-row {
  display: flex;
  justify-content: space-between;
  /* Space between username and buttons */
  align-items: center;
  /* Vertically center content */
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.2s ease-in-out;
}

.friend-row:hover {
  background: rgba(255, 255, 255, 0.1);
}

.friend-row:last-child {
  border-bottom: none;
}

.username {
  font-size: 16px;
  color: #ededed;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  /* Align profile picture and username */
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  /* Vertically center icon and button */
  gap: 20px;
  /* Space between the icon and the button */
}

.unfriend-button {
  background-color: transparent;
  /* Transparent background */
  color: #aaaaaa;
  border: none;
  /* No border */
  margin-right: 10px;
  cursor: pointer;
  padding: 0;
  /* Remove padding */
  font-size: 25px;
}

.unfriend-button:hover {
  color: #fafafa;
  transform: scale(1.1);
}

.unfriend-button:active {
  transform: translateY(3px);
}

.chatButton {
  background-color: transparent;
  /* Transparent background */
  color: #e58e26;
  border: none;
  /* No border */

  cursor: pointer;
  padding: 0;
  /* Remove padding */
  font-size: 20px;
}

.chatButton:hover {
  color: #fd7a00;
  transform: scale(1.1);
}

.chatButton:active {
  transform: translateY(3px);
}

#registerBtn {
  color: #ededed;
}

#requestDiv {
  padding: 12px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Makes it circular */
  margin-right: 10px;
  cursor: pointer;
  background-color: lightgrey;
}

.status-indicator {
  width: 12px;
  /* Size of the indicator */
  height: 12px;
  /* Size of the indicator */
  border-radius: 50%;
  /* Make it a circle */
  border: 2px solid #fff;
  /* Optional: Add a border to make it stand out */
  margin-right: 10px;
}

.chat-modal {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 450px;
  background-color: rgba(var(--bs-dark-rgb));
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  position: fixed;
  transform: translate(0, 0);
  user-select: none;
  padding: 10px;
}

.chat-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  padding: 10px;
  background-color: rgba(var(--bs-dark-rgb));
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: grab;
}

.chat-header:active {
  cursor: grabbing;
}

.chat-username {
  color: #aaaaaa;
  font-weight: 600;
}

.close-chat {
  color: #aaaaaa;
  font-size: 20px;
  cursor: pointer;
}

.close-chat:hover {
  color: #ffffff;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-sent {
  background-color: #e58e26;
  color: white;
  align-self: flex-end;
}

.message-received {
  background-color: #2e3236f2;
  color: white;
  align-self: flex-start;
}

.chat-input-container {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-top: 2px solid #555555;
}

#chatInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #555555;
  border-radius: 5px;
  background-color: #2e3236f2;
  color: white;
}

#sendMessage {
  background-color: transparent;
  border: none;
  color: #e58e26;
  cursor: pointer;
  font-size: 20px;
}

#sendMessage:hover {
  color: #fd7a00;
  transform: scale(1.1);
}

/* Night mode specific styles */
.night-mode .chat-modal {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode .chat-header {
  background-color: rgba(var(--bs-dark-rgb));
}

.night-mode #chatInput {
  background-color: #2e3236f2;
  color: #ededed;
}

.chat-messages::-webkit-scrollbar {
  width: 4px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #2e3236f2;
}

.chat-header .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-header .chat-profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
